<div class="container mt-5">
    <input 
    type="number" 
    class="form-control mt-2" 
    placeholder="Ingrese cantidad a convertir"
    (input)="convertir()"
    [(ngModel)]="cantidad"
    >
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tengo">Tengo</label>
                <select  id="tengo" class="form-control" (change)="convertir()" [(ngModel)]="tengo">
                    <option *ngFor="let item of fiat"> {{item}} </option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="tengo">Quiero</label>
                <select  id="tengo" class="form-control" (change)="convertir()" [(ngModel)]="quiero">
                    <option *ngFor="let item of crypto"> {{item}} </option>
                </select>
            </div>
        </div>
    </div>
    <h5 class="text-center mt-4 d-flex justify-content-between" *ngIf="total>0">
        <span class="badge bg-info">
            {{cantidad}} {{tengo}}
        </span>
        <span class="badge bg-info">son</span>
        <span class="badge bg-info">
            {{total}} {{quiero}}
        </span>
    </h5>
    
   
   
    
</div>